<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
    </head>
    <body>
	<div>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;">Здравствуйте, {{ data.name }}</p>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;">На сайте <a href='https://vilkova.ru/'>vilkova.ru</a> вы заказали книгу Ирины Вилковой «стихиИя».</p>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;"><small>Количество книг:</small><br><big>{{ data. quantity }} шт.</big></p>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;"><small>Стоимость доставки по Москве в пределах МКАД:</small><br><big>{{ data.deliveryPrice }} руб.</big></p>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;"><small>Сумма к оплате:</small><br><big>{{ data.total }} руб.</big></p>
	    <p style="font-size: 130%; font-family: sans-serif; color: #333;">Курьер перезвонит вам по номеру {{ data.phone }} и договорится о встрече.</p>
	</div>
    </body>
</html>
